/*
Credit: #
*/

body {
	margin: 0px;
	padding: 0px;
	color: #736363;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.7em; 
	background-image: url(images/templatemo_body.jpg);
	background-color: #eae7de;
	background-position: top;
	background-repeat: repeat-x;
}

a, a:link, a:visited { color: #1e82db; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal }
h1 { font-size: 34px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 26px; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 25px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { padding: 0 14px 0 0; color: #1683a3; font-weight: normal; background: url(images/more.png) no-repeat right; }
a.more:hover { text-decoration: none; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #999; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

blockquote { font-style: italic; margin-left: 10px}
cite { font-weight: bold; color:#000 }
cite span { color: #333 }
em { color: #000; }

.testimonial { font-size: 16px; line-height: 30px; }

.tmo_list { margin: 0 0 0 10px; padding: 0; list-style: none }
.tmo_list li { color:#51a426; margin:0 0 2px; padding: 3px 0 3px 15px; background: transparent url(images/templatemo_list.png)  no-repeat scroll 0 10px }
.tmo_list li a { color: #51a426 }
.tmo_list li a:hover { color: #51a426 }

#templatemo_wrapper {
	width: 970px;
	padding: 0 20px;
	margin: 0 auto;
}

#templatemo_header { 
	width: 970px;
	height: 75px;
	text-align: center;
	padding-top: 20px;
	background: url(images/templatemo_header.jpg) no-repeat center top;
}

#site_title a {
	display: inline-block;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

#site_title a span {
	display: block;
	font-size: 14px;
	color: #FFF;
}

#templatemo_main { 
	clear: both;
	width: 970px;
}

#templatemo_sidebar {
	float: left;
	width: 200px;
	padding: 0 15px;
	background: url(images/templatemo_menu.jpg) top right no-repeat;
}

#templatemo_menu {
	width: 180px;
	height: 315px;
	padding: 30px 10px;
	margin-bottom: 30px;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: block;
}

#templatemo_menu ul li a {
	display: block;
	height: 35px;
	padding: 13px 0 0 55px;
	margin-bottom: 15px;
	font-size: 20px;
	color: #3e1a1a;	
	text-decoration: none;
	font-weight: normal;
	outline: none;
	border: none;
}

#templatemo_menu ul li .home { 
	background: url(images/home.png) no-repeat center left;
}

#templatemo_menu ul li .home:hover, #templatemo_menu ul li .current_home { 
	color: #fff;
	background: url(images/home_hover.png) no-repeat center left;
}

#templatemo_menu ul li .aboutus { 
	background: url(images/aboutus.png) no-repeat center left;
}
#templatemo_menu ul li .aboutus:hover, #templatemo_menu ul li .current_aboutus { 
	color: #fff;
	background: url(images/aboutus_hover.png) no-repeat center left;
}

#templatemo_menu ul li .services { 
	background: url(images/services.png) no-repeat center left;
}

#templatemo_menu ul li .services:hover, #templatemo_menu ul li .current_services { 
	color: #fff;
	background: url(images/services_hover.png) no-repeat center left;
}

#templatemo_menu ul li .gallery { 
	background: url(images/gallery.png) no-repeat center left;
}

#templatemo_menu ul li .gallery:hover, #templatemo_menu ul li .current_gallery { 
	color: #fff;
	background: url(images/gallery_hover.png) no-repeat center left;
}

#templatemo_menu ul li .contactus { 
	background: url(images/contactus.png) no-repeat center left;
}
#templatemo_menu ul li .contactus:hover, #templatemo_menu ul li .current_contactus { 
	color: #fff;
	background: url(images/contactus_hover.png) no-repeat center left;
}

.sidebar_box {
	margin-bottom: 50px;
}

.sidebar_news_box { 
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #c8c3b2;
}

#templatemo_content_wrapper {
	float: right;
	width: 740px;
	background: url(images/templatemo_content.jpg) repeat-y left
}

#social_box {
	width: 700px; 
	height: 55px;
	padding: 0 20px;
	background: url(images/social_box.jpg) no-repeat top
}

#social_box ul {
	float: right;
	margin: 15px 0 0 0;
	height: 32px;
	padding: 0 0 0 80px;
	list-style: none;
	background: url(images/followus.jpg) no-repeat left center
}

#social_box ul li { margin: 0; padding:0; display: inline; }

#social_box ul li a {
	float: left;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 10px;
}

#social_box ul li .twitter { background: url(images/twitter.png) no-repeat }
#social_box ul li .facebook { background: url(images/facebook.png) no-repeat }
#social_box ul li .linkedin { background: url(images/linkedin.png) no-repeat }
#social_box ul li .myspace { background: url(images/myspace.png) no-repeat }
#social_box ul li .technorati { background: url(images/technorati.png) no-repeat }

#page_intro_flash {
	width: 720px;
	height: 280px;
	padding: 11px 10px;
	overflow: hidden;
	background: url(images/templatemo_content_title.jpg) no-repeat;
}

#page_intro {
	width: 640px;
	height: 202px;
	padding: 50px;
	overflow: hidden;
	background: url(images/templatemo_content_title.jpg) no-repeat
}

#page_intro h1 { color: #fff; font-family: Verdana, Geneva, sans-serif }
#page_intro p { color: #cf4040; font-size: 20px; line-height: 30px }

#templatmeo_content {
	width: 640px;
	padding: 50px;
}

.content_box {
	margin-bottom: 50px
}

.col_w300 {
	width: 300px;
}

.service_box {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #fff;
}

.service_box img {
	float: left;
	width: 48px;
	height: 48px;
}

.service_box .right {
	float: right;
	width: 560px;
}

.service_box ol li {
	list-style: decimal-leading-zero;
	margin-bottom: 5px;
}

#gallery { clear: both; }
.gallery_box { padding: 0 0 30px 0; margin: 0 0 30px 0; border-bottom: 1px dashed #433d3a; }
.last_gallery_box { padding: 0; margin: 0; border: none; }
.gallery_box a.gallery_img { display: block; float: left; width: 240px; height: 160px; }
.gallery_box .right { float: right; width: 360px; }

#contact_form {  padding: 0; width: 300px; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { color: #333; width: 288px; padding: 5px; margin-bottom: 10px; background: #f6f6f6; border: 1px solid #cfcfcf; }
#contact_form form label { display: block; width: 100px; margin-right: 10px; font-size: 14px; }
#contact_form form textarea { color: #333; width: 288px;  height: 200px; padding: 5px; margin-bottom: 10px;	background: #f6f6f6; border: 1px solid #cfcfcf; font-family: Arial, Helvetica, sans-serif; }
#contact_form form .submit_btn { padding: 7px 14px; margin-right: 70px; background-color: #f6f6f6; border: 1px solid #cfcfcf; }

#templatemo_content_bottom {
	width: 740px;
	height: 5px;
	background: url(images/templatemo_content_bottom.jpg) no-repeat left top;
}

#templatemo_footer {
	clear: both;
	width: 930px;
	padding: 20px;
	text-align: right;
}

.last_box { margin: 0; padding: 0; border: none }